<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>JDK Backend Home</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>JDK Mini Project Backend Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/java.png}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Fibonacci Loops</h5>
                    <p class="card-text">
                        <a href="/api/fibonacci/for/10" class="btn btn-primary">Go to the "For" fibonacci</a>
                        <a href="/api/fibonacci/while/10" class="btn btn-primary">Go to the "While" fibonacci</a>
                        <a href="/api/fibonacci/recursion/10" class="btn btn-primary">Go to the "Recursion" fibonacci</a>
                        <a href="/api/fibonacci/stream/10" class="btn btn-primary">Go to the "Stream" fibonacci</a>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/spring.png}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How to use this page?</h5>
                    <p class="card-text">
                        <ol>
                            <li>For the Fibonacci, change the x value after /"method"/x to generate a list with a length of your choice. </li>
                            <li>The different methods currently implemented for fibonacci are: For, While, Recursion, and Stream</li>
                            <li>Sorting algorithms is currently in progress of being created</li>
                            <li>You can access the frontends on the link below.</li>
                        </ol>
                    </p>
                    <a href="https://csa-tri-2.github.io/JDK-miniproject/fibonacci" class="btn btn-primary">Go to Fibonacci Frontend</a>
                    <a href="#" class="btn btn-primary">Go to Sorting Frontend</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/pojo.jpeg}" alt="Java Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Sorting Algorithms</h5>
                    <p class="card-text">
                        <a href="#" class="btn btn-primary">Go to the "Merge" sorting algorithm</a>
                        <a href="#" class="btn btn-primary">Go to the "Selection" sorting algorithm</a>
                        <a href="#" class="btn btn-primary">Go to the "Bubble" sorting algorithm</a>
                        <a href="#" class="btn btn-primary">Go to the "Insertion" sorting algorithm</a>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>